<%- include("./partials/header") %>

<div class="bg-blue-800 min-h-screen w-full text-white overflow-y-auto sm:pt-[25vw] lg:pt-[10vw] relative z-10">
  <div class="fixed top-0 w-full z-20">
    <%- include("./partials/nav") %>
  </div>

  <h1 class="lg:text-2xl md:text-7xl text-center pb-10 font-bold">--My Cart--</h1>

  <div class="py-2 w-full flex flex-wrap gap-8 px-4 sm:px-10 pt-5 justify-center">
    <% if (!newcart || newcart.product.length === 0) { %>
      <p class="text-center">No items added</p>
    <% } else { %>
      <% newcart.product.forEach((item) => { %>
        <div class="lg:w-[17vw] lg:pb-2 md:pb-[2vw] md:w-full bg-blue-900 hover:shadow-xl rounded overflow-hidden cursor-pointer">
          <img class="lg:h-[35vh] lg:w-full md:h-[100vw] md:w-full object-cover object-center" src="<%= item.productimage %>" alt="<%= item.title %>">
          <div class="p-4">
            <h1 class="lg:text-xl md:text-4xl font-semibold capitalize"><%= item.title %></h1>
            <h2 class="lg:text-xl md:text-4xl font-semibold md:y-5">Price: <%= item.price %></h2>
            <div class="flex justify-between mt-4">
              <a href="###" class="bg-yellow-700 lg:px-3 lg:py-[.2vw] rounded lg:text-[1vw] md:text-4xl md:px-[1.8vw] md:py-5">SAVE FOR LATER</a>
              <a href="/delete/<%= item._id %>" class="bg-yellow-700 lg:px-3 lg:py-[.2vw] rounded lg:text-[1vw] md:text-4xl md:py-5 md:px-[1.8vw]">REMOVE</a>
            </div>
          </div>
        </div>
      <% }) %>
    <% } %>
  </div>
</div>

<div class="w-full px-4 sm:px-10 py-5">
  <div class="bg-white p-5 rounded shadow-lg">
    <h1 class="text-xl md:text-2xl font-bold mb-4">PAYMENT CHECKOUT</h1>
    <h2 class="text-lg lg:text-2xl  md:text-3xl font-semibold pb-5">Price Details</h2>
    
    <% if (!newcart || newcart.product.length === 0) { %>
      <p>No items added</p>
    <% } else { %>
      <% let totalPrice = 0;
        newcart.product.forEach((item) => {
          totalPrice += parseFloat(item.price);
        });
      %>
      
      <h4 class="mb-4 lg:text-xl md:text-3xl">Price (<%= newcart.product.length %> items) - <span class="text-lg md:text-xl"><%= totalPrice.toFixed(2) %></span></h4>
      <h4 class="mb-4 font-semibold lg:text-xl md:text-3xl">Total Amount - <span class="text-lg md:text-xl"><%= totalPrice.toFixed(2) %></span></h4>
      <a class="bg-yellow-400 lg:text-xl md:text-4xl px-4 lg:py-2 md:py-5 mt-10 text-black font-semibold rounded block text-center" href="/placeorder">Place order</a>
    <% } %>
  </div>
</div>

<%- include("./partials/footer") %>
