<%- include("./partials/header") %>
<div class="bg-blue-800 min-h-screen w-full text-white overflow-y-auto pt-[7vw]">
    <div class="fixed top-0 w-full z-10">
        <%- include("./partials/nav") %>
    </div>
    <div class="w-full flex gap-8 px-10 mt-10 flex-wrap justify-center pb-5">
        <% allproducts.forEach((item) => { %>
            <div class="w-[17vw] h-[52vh] bg-slate-800 rounded-[5px] overflow-hidden text-white">
                <img class="h-[35vh] w-full object-cover object-top" src="<%= item.productimage %>" alt="">
                <h4 class="px-4 pt-5 font-semibold text-[1.2rem] capitalize"><%= item.title %></h4>
                <h4 class="px-4">Price - <%= item.price %> </h4>
                <div class="flex justify-between px-4 mt-2">
                    <a class="bg-slate-900 px-2 py-2 rounded text-slate-400" href="/cart">Buy Now</a>
                    <a class="bg-slate-900 px-2 py-2 rounded text-slate-400" href="/addtocart/<%= item._id %>">Add To Cart</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<%- include("./partials/footer") %>
